
<h3>Vous aimerez sûrement :</h3>

<ul *ngIf="movieList">
  <li *ngFor="let m of movieList">

      <mat-card>
        <mat-card-content>
          <a [routerLink]="['/movie/'+m.id]" >
            <img src="{{getPath(m.poster_path)}}" />
            <div class="title">{{m.title}}</div>
            <div class="genres"><ng-container *ngFor="let g of m.genres">{{g.name}}</ng-container></div>
          </a>
          <app-add-film  [movieId]="m.id"></app-add-film>
        </mat-card-content>
      </mat-card>
  </li>
</ul>

