h3 {
  color:white;
}

mat-card-content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 40%;
  font-size: 130%;
  font-weight: bold;
}

.genres {
  text-align: right;
  color:white;
  display:flex;
  flex-direction: column;
  margin-right:30px;
  min-width: 120px;
}

ul {
  list-style: none;
}

li {
  margin-bottom:0.2cm;
}

a {
  text-decoration: none;
}

mat-card-content a {
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
}

mat-card-content a .title {

  margin-left:1cm;
  color:white;
  font-size: 130%;
  width: 100%;

}
