<li>
  <span *ngIf="!editMode">
    <a (click)="clickOnListe()" *ngIf="!editMode">{{list.name}}</a>
    <button (click)="editMode=true;" mat-icon-button>
      <mat-icon>create</mat-icon>
    </button>
    <button (click)="delete()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </span>

  <form (submit)="changeName()" *ngIf="editMode">
    <mat-form-field>
      <input [(ngModel)]="list.name" name="newName"  (blur)="editMode = false" matInput>
    </mat-form-field>
  </form>


</li>
