h3 {
  color:white;
}

mat-card-content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nom {
  width: 40%;
  font-size: 130%;
  font-weight: bold;
}

ul {
  list-style: none;
  padding:0px;
}

li {
  margin-bottom:0.2cm;
}
