<div id="Global" *ngIf="movieId">

  <div class="gauche">
      <div><img [src]="getPath()" /></div>
      <div>
          <div class="gauche" *ngIf="movieId">
           <button *ngIf="!isInAList(movieId)" mat-icon-button class="centre">
              <mat-icon aria-label="plus icon">add</mat-icon>
              <!-- si clique, afficher pop up avec listes utiisateurs -->
              <!-- apres click sur une liste, fonction ajouter film a la liste -->
            </button>
            <button *ngIf="isInAList(movieId)" mat-icon-button class="centre">
              <mat-icon aria-label="list icon">event_note</mat-icon>
              <!-- si clique, afficher pop up avec listes qui contiennent le film -->
              <!-- apres click sur une liste, page de la liste -->
            </button>
          </div>
          <div class="droite">
            <button mat-icon-button class="centre">
              <mat-icon aria-label="delete icon">delete</mat-icon>
            </button>
          </div>
      </div>
      <div>
          <div class="rating">
               <a href="#5" title="Donner 5 étoiles">☆</a>
               <a href="#4" title="Donner 4 étoiles">☆</a>
               <a href="#3" title="Donner 3 étoiles">☆</a>
               <a href="#2" title="Donner 2 étoiles">☆</a>
               <a href="#1" title="Donner 1 étoile">☆</a>
          </div>
          <div class="note">
              note : {{vote_average}}
          </div>
      </div>

      <div>
        <!-- ici mettre formulaire laisser un avis -->
      </div>
    <!-- ici mettre bouton gauche voir un avis -->
    <!-- ici mettre bouton droite "ok !" = on submit du form -->
  </div>



  <div class="droite">
      <h1>{{title}}</h1>
      <ul>
        <li> Année :                    {{annee}} </li>
        <li> Status :                   {{status}} </li>
        <li> Compagnies de production :
            <ng-container *ngFor="let cp of compagnies">
              {{cp.name}} ,
            </ng-container>
        </li>
        <li> Langues :
          <ng-container *ngFor="let l of langues">
            {{l.name}}  ,
          </ng-container>
        </li>
        <li> Revenue :                  {{revenue}} </li>
        <li> Budget :                   {{bugdet}} </li>
        <li> Acteurs :
            <ng-container *ngFor="let c of cast">
              {{c.name}} ,
            </ng-container>
        </li>
        <li> Synopsis :                 {{synopsis}} </li>
      </ul>
  </div>
</div>
