div {
  color: #FFF;
  font: 14px Verdana, sans-serif;
}

ul {
  line-height:200%
}


.rating{
  float:left;
  width:50%;
}
.rating a {
  float: right;
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color .4s;
}
.rating a:hover ~ a {
  color: orange;
  cursor: pointer;
}
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}


mat-menu button {
  color:black;
}

.droite ul {
  list-style: none;
  padding:0px;
  margin:0px;
}

.synopsis {
  margin-top:20px;
}




.Global {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.gauche {
  max-width: 25vw;
}

.droite {
  max-width: 50vw;
}

.gauche img {
  max-width:25vw;
  /*max-height:50vh;*/
}

.gauche .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gauche .note {
  font-family: "Calibri Light";
  font-size:2em;
  text-align: center;
}

input{
  margin-left : 1rem;
  margin-right: 1rem;
}
