<div class="addLists" *ngIf="isUserLogged">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon aria-label="list icon">add</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <button (click)="addToOrRemoveFromList(list)" mat-menu-item *ngFor="let list of this.lists">
      <mat-icon *ngIf="!isInTheList(list)">check_box_outline_blank</mat-icon>
      <mat-icon *ngIf="isInTheList(list)"  >check_box</mat-icon>
      <span>{{list.name}}</span>
    </button>

    <form (submit)="AddToANewList(name)">
      <input  name="newList" mat-menu-item placeholder="nouvelle liste" #name>
     </form>
  </mat-menu>

</div>
