<h2><mat-icon>theaters</mat-icon> Listes de films <button (click)="addingList = true" mat-icon-button><mat-icon>add</mat-icon></button></h2>
<ol *ngIf="userLists">
  <li (click)="clickOnListe(l.name)" *ngFor="let l of userLists">
    {{l.name}}
    <button mat-icon-button>
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </li>

  <li *ngIf="addingList">
    <form>
        <input [(ngModel)]="newListe" name="newListe" matInput placeholder="Titre 1">
        <button (click)="createList()">Envoyer</button>
    </form>
  </li>
</ol>
