<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" ([opened])="sideNavVisible">
    <app-lists-manager></app-lists-manager>
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
      <button mat-fab (click)="sidenav.toggle();">
        <mat-icon>list</mat-icon>
      </button>
      <app-recherche></app-recherche>
      <button mat-fab style="visibility: hidden"><mat-icon>settings</mat-icon></button>
    </header>

    <app-connexion></app-connexion>
    <app-creation-compte></app-creation-compte>

    <router-outlet></router-outlet>
    <nav *ngIf="user">
      <label>{{user.displayName}}</label>
      <img [src]="user.photoURL" />
      <button (click)="logout()">Déconnection</button>
      {{user.uid}}
    </nav>
    <nav *ngIf="!user">
      <!--

      <app-actor></app-actor>-->
    </nav>
<!-- A SUPPRIMER-->
<h1>TMDB + Firebase</h1>
<nav *ngIf="user">
  <label>{{user.displayName}}</label>
  <img [src]="user.photoURL" />
  <button (click)="logout()">Déconnection</button>
  {{user.uid}}
</nav>
<nav *ngIf="!user">
  <button (click)="login()">Connection via Google</button>
</nav>



  </mat-sidenav-content>
</mat-sidenav-container>





<!--Laissé à titre d'exemple
TODO : a supprimer d'ici la fin du projet
<h1>TMDB + Firebase</h1>
<nav *ngIf="user">
  <label>{{user.displayName}}</label>
  <img [src]="user.photoURL" />
  <button (click)="logout()">Déconnection</button>
  {{user.uid}}
</nav>
<nav *ngIf="!user">
  <button (click)="login()">Connection via Google</button>
</nav>

<hr/>
<pre *ngIf="lists">
  {{lists | async | json}}
</pre>

<hr/>
<section *ngIf="movie">
  <img [src]="getPath(movie.poster_path)" />
  <pre>{{movie | json}}</pre>
</section>
<section *ngIf="!movie">
  Pas encore de films à afficher...
</section>

-->
