mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../assets/bkg.jpg ");
}

.contenu {
  margin:0.5cm;
}

mat-sidenav {
  padding:0 0.5cm 0 0.5cm;
  background-color: #111;
  color:white;
}

header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0.5cm;
}

.login {
  position: absolute;
  right: 0px;
  top: 0px;
  padding:0.5cm;
}

app-connexion {
  margin-right:0.2cm;
}

.connexion {
  display:flex;
  flex-direction: row;
}
