<h1 mat-dialog-title>Connexion</h1>

<div class="social">
  <button mat-raised-button (click)="onClose() ; connectWithFacebook()">Facebook</button> <br/>
  <button mat-raised-button (click)="onClose() ; connectWithGoogle()">Google</button> <br/>
  <button mat-raised-button disabled (click)="onClose() ; connectWithTwitter()">Twitter</button> <br/>
</div>

<form [formGroup]="form" novalidate (submit)="onSubmit()" #myForm="ngForm">

    <mat-form-field>
      <input matInput placeholder="Email" type="text" [(ngModel)]="email" formControlName="email" />
    </mat-form-field>
    <small *ngIf="form.get('email').touched && form.get('email').hasError('required')" class="text-danger">
      Email requis
    </small>

    <mat-form-field>
      <input matInput placeholder="Mot de passe" type="password" [(ngModel)]="password" formControlName="password" />
    </mat-form-field>
    <small *ngIf="form.get('password').touched && form.get('password').hasError('required')" class="text-danger">
      Mot de passe requis
    </small>

  <p><button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">OK</button></p>
  <p><a>J'ai oublié mon mot de passe</a></p>
</form>
