<h1 mat-dialog-title>Création compte</h1>

<div class="social">
  <button mat-raised-button (click)="onClose() ; connectWithFacebook()">Facebook</button> <br/>
  <button mat-raised-button (click)="onClose() ; connectWithGoogle()">Google</button> <br/>
  <button mat-raised-button disabled (click)="onClose() ; connectWithTwitter()">Twitter</button> <br/>
</div>


<form [formGroup]="form" (submit)="onSubmit()" #myForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="Email" type="text" formControlName="email" />
  </mat-form-field>
    <small *ngIf="form.get('email').touched && form.get('email').hasError('required')" class="text-danger">
      Adresse email requise
    </small>
  <mat-form-field>
    <input matInput placeholder="Mot de passe" type="password" formControlName="password" />
  </mat-form-field>
    <small *ngIf="form.get('password').touched && form.get('password').hasError('required')" class="text-danger">
      Mot de passe requis
    </small>
  <mat-form-field>
    <input matInput placeholder="Confirmer le mot de passe" type="password" formControlName="password2" />
  </mat-form-field>
    <small *ngIf="form.get('password2').touched && form.get('password2').hasError('required')" class="text-danger">
      Mot de passe requis
    </small>
  <small *ngIf="form.get('password').touched && form.get('password2').touched && form.hasError('matchPasswords')" class="text-danger">
    Les mots de passe ne concordent pas
  </small>
  <p><button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">OK</button></p>
</form>

