#liste {
  color:white;
  padding:20px;
}
i.large{
  color: white;
  cursor: pointer;
}
.draggable{
  cursor: move;
}
.details ul{
  list-style: none;
}

.details ul li {
  line-height: 2em;
}


form input {
  background-color: white;
  color:black;
}
