<i class="material-icons white large" [routerLink]="['']">arrow_back</i>
<div id="liste" *ngIf="currentList">
  <h1>
    <span *ngIf="!editMode" >
      <mat-icon>theaters</mat-icon> Liste : {{currentList.name}}
      <button (click)="editMode=true;"  mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
      <button (click)="delete()"   mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </span>

    <form (submit)="changeName()" *ngIf="editMode" >
      <mat-form-field (clickOutside)="setEditModeFalse($event)">
        <input [(ngModel)]="currentList.name"  name="newName" matInput>
      </mat-form-field>
    </form>
  </h1>



  <section class="details">
    <ul>
      <li>Nombre de films dans la liste : {{listeFilmsTMDB.length}}</li>
      <li>Note moyenne de la liste : {{moyenne | number : '1.0-2' }}</li>
    </ul>
  </section>

  <section class="films" *ngIf="listeFilmsTMDB">
    <div mwlDroppable>
      <app-liste-film class="draggable" mwlDraggable [liste]="currentList" [movie]="m" *ngFor="let m of listeFilmsTMDB"></app-liste-film>
    </div>
  </section>



</div>
