<div id="liste" *ngIf="currentList">
  <h1>

    <span *ngIf="!editMode">
      <mat-icon>theaters</mat-icon> Liste : {{currentList.name}}
      <button (click)="editMode=true;" mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
      <button (click)="delete()" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </span>

    <form (submit)="changeName()" *ngIf="editMode">
      <input [(ngModel)]="newName" name="newName" matInput placeholder="{{currentList.name}}">
    </form>
  </h1>



  <section class="details">
    <ul>
      <li>Nombre de films dans la liste : {{listeFilmsTMDB.length}}</li>
      <li>Note moyenne de la liste : {{moyenne | number : '1.0-2' }}</li>
    </ul>
  </section>

  <section class="films" *ngIf="listeFilmsTMDB">
    <app-liste-film [liste]="currentList" [movie]="m" *ngFor="let m of listeFilmsTMDB"></app-liste-film>
  </section>



</div>
