
<ul class="filters">
  <li *ngFor="let g of genresId"><mat-checkbox [(ngModel)]="g.selected">{{tmdb.getMovieGenreName(g.genreId)}}</mat-checkbox></li>
</ul>


<ul *ngIf="currentSearchRes">



  <li *ngFor="let m of filterResults(currentSearchRes)">


      <mat-card>
        <mat-card-content>
          <a [routerLink]="['/movie/'+m.id]" >
            <img src="{{tmdb.getTinyPoster(m.poster_path)}}" />
            <div class="title">{{m.title}}</div>
          </a>
          <div class="genres"><span *ngFor="let g of m.genre_ids">{{tmdb.getMovieGenreName(g)}} </span></div>
          <app-add-film [movieId]="m.id"></app-add-film>
        </mat-card-content>
      </mat-card>

  </li>


  <li *ngFor="let p of currentPeopleSearchRes.results">
    <a routerLink="/actor/{{p.id}}">
      <mat-card>
        <mat-card-header>
          {{p.name}}
        </mat-card-header>
      </mat-card>
    </a>
  </li>

</ul>


