<ul *ngIf="currentSearchRes">

  <ng-container *ngFor="let g of genresId">{{g}} / </ng-container>

  <li *ngFor="let m of currentSearchRes.results">

    <a>
      <mat-card>
        <mat-card-header routerLink="/movie/{{m.id}}">
          {{m.title}}
        </mat-card-header>

        <div class="addLists">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon aria-label="list icon">add</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <form (click)="stopPropagation($event)">
              <button (click)="addToList(m.id, list)" mat-menu-item *ngFor="let list of lists | orderByLastDate">
                <mat-icon *ngIf="!isInTheList(m.id, list)">check_box_outline_blank</mat-icon>
                <mat-icon *ngIf="isInTheList(m.id, list)">check_box</mat-icon>
                <span>{{list.name}}</span>
              </button>
            </form>
          </mat-menu>
        </div>
      </mat-card>
    </a>
  </li>

  <li *ngFor="let p of currentPeopleSearchRes.results">
    <a routerLink="/actor/{{p.id}}">
      <mat-card>
        <mat-card-header>
          {{p.name}}
        </mat-card-header>
      </mat-card>
    </a>
  </li>

</ul>