<ul *ngIf="currentSearchRes">

  <ng-container *ngFor="let g of genresId">{{g}} / </ng-container>

  <li *ngFor="let m of currentSearchRes.results">
    
    <a routerLink="/movie/{{m.id}}">
      <mat-card>
        <mat-card-header>
          {{m.title}}
        </mat-card-header>
      </mat-card> 
    </a>
  </li>

  <li *ngFor="let p of currentPeopleSearchRes.results">
    <a routerLink="/actor/{{p.id}}">
      <mat-card>
        <mat-card-header>
          {{p.name}}
        </mat-card-header>
      </mat-card>
    </a>
  </li>

</ul>


