.actor-info {
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.actor-info .picture {
  width:10vw;
  margin-right:10vw;
}

.actor-info .picture img {
  width:10vw;
}

.actor-info .infos {
  width: 10vw;
  text-align: center;
}

mat-card {
  width: 80%;
  margin:auto;
  margin-bottom:0.2cm;
}

a {
  text-decoration: none;
}


mat-card-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
}

mat-card-content a {
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
}

mat-card-content a .title {

  margin-left:1cm;
  color:white;
  font-size: 130%;
  width: 100%;

}

.title {
  width: 40%;
  font-size: 130%;
  font-weight: bold;
}

.genres {
  text-align: right;
  color:white;
  display:flex;
  flex-direction: column;
  margin-right:30px;
  min-width: 120px;
}

h2 {
  color: white;
  text-align: center;
}

ul {
  list-style: none;
}
