<mat-card>
  <div class="actionButtons">
    <button mat-icon-button (click)="deleteMovie()"><mat-icon>delete</mat-icon></button>
    <mat-icon>arrow_upward</mat-icon>
    <mat-icon>arrow_downward</mat-icon>
  </div>
  <img src="{{getPath()}}" />
  <mat-card-header>
    <mat-card-title>{{movie.title}} - <span *ngFor="let g of movie.genres">{{g.name}} </span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Année : {{movie.release_date.slice(0,4)}}</p>
    <p>Status : {{movie.status}}</p>
    <p>Synopsis : {{movie.overview}} <a routerLink="/movie/{{movie.id}}">(Voir le détail)</a></p>
  </mat-card-content>
</mat-card>
